
/* Filename - App.css*/
.App {
  text-align: center;
}

.Header {
  color: blueviolet;
}


button {
  font-size: large;
  margin: 2%;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#childid {
  color: red;
  font-size: large;
}